body {
  max-width: 170px;
}

.hide {
  display: none !important;
}

.loading {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.resbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow {
  cursor: pointer;
  min-width: 20px;
  text-align: center;
}

.inputtext {
  resize: none;
  width: 100%;
  box-sizing: 'border-box';
}



